body {
	background-color: lightblue;
}

#gridtable {
	background-color: white;
	border-collapse:collapse;
	border: solid black 1px;
	/*display: inline;*/
}

.initialgrid {
	display: inline;
}

.modifygrid {
	display: none;
}

.box {
	height: 5px;
	width: 5px;
	padding: 0;
	margin: 0;
}


td {

	padding: 0;
	margin: 0;
}

