body {
	background-color: lightblue;
}

#container {
}

#gridtable {
	background-color: white;
	border-collapse:collapse;
	border: solid black 1px;
}

.box {
	height: 5px;
	width: 5px;
	padding: 0;
	margin: 0;
}


td {

	padding: 0;
	margin: 0;
}

