body {
	background-color: lightblue;
}

#container {
}

#gridtable {
	background-color: white;
	border-collapse:collapse;
	border: solid black 1px;
}

.box_inactive {
	height: 5px;
	width: 5px;
	padding: 0;
	margin: 0;
}

.box_active {
	height: 5px;
	width: 5px;
	padding: 0;
	margin: 0;
	background-color: black;
}


td {

	padding: 0;
	margin: 0;
}

